:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --code-bg: #f5f2f0;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --code-bg:#2d2d2d;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  --code-bg: rgba(27,31,35,.05);
}

body {
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  color: var(--color-primary);
  & :hover {
    text-decoration: underline;
    color: #dd4a68;
    text-decoration-color: #dd4a68;
    text-decoration: inherit;
    font-weight: 900;
  }
}

code {
  background:var(--code-bg) !important;
}
pre {
  color: var(--color) !important;
  text-shadow: none !important;
  background: var(--code-bg) !important;
  code {
    background: none !important;
  }
}

body,
table,
pre,
code,
button,
input,
select,
textarea {
  font-family: "EB Garamond","Noto Serif SC", "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.main {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  max-width: 82%;
}

.sidebar-main-body {
  margin-left: 20%;
  padding-left: 1rem;
}

.main-title {
  text-align: center;
  font-size: 2rem;
}

.main-body {
  margin-top: 2rem;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

